@import "../settings/index";
@import "../tools/index";

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 14px;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;

  @media @bigger-font {
    font-size: 16px;
    background-image: none;
  }

  @media @show-menu { padding-top: @menu-height; }
}

button {
  border: 0;
  background: transparent;
}

a { color: inherit; }
img { max-width: 100%; }
h1,h2,h3,h4,h5 { font-weight: 100; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; font-weight: bold; }
h6 { font-size: 1em; }

h2,nav { font-family: 'Roboto Mono'; }
h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.875em;
  line-height: 1.1;

  & svg {
    fill: @green;
    width: 47px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .3em;
    margin-top: -16px;

    &.green{
      fill: #000;
    }
  }
}

h4 {
  text-transform: uppercase;
  margin-bottom: -.8em;
  font-weight: bold;
  font-size: 1.25em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea { resize: vertical; }
