@import "../settings/index";
@import "../tools/index";

.c-header {
  padding: 10vw 0;
  background: #282828;
  color: #9EC41B;

  .c-header__logo {
    position: absolute;
    fill: @green;
    width: 120px;
    right: 52%;
    top: ~"calc(10vw + 1.2em)";
    transition: opacity .3s @ease;

    & svg {
      width: 100%;
      height: 60px;
    }

    @media @show-menu {
      top: -10vw;
      margin-top: ~"calc(20vw + 1.2em + 70px)";
      right: auto;
      width: 23vw;
      left: @site-padding;
      transition: top .3s @ease;

      svg { height: 10vw; }
    }
  }

  .c-header__logo--in-menu {
    position: fixed;
    top: 0;
    left: @site-padding;
    width: 80px;
    z-index: 11;
    margin-top: 0;
    transition-delay: .2s;

    & svg {
      fill: #000;
      height: @menu-height;
    }
  }

  .c-header__title {
    width: 120px;
    margin-left: 52%;
    fill: @green;

    svg {
      width: 100%;
      height: 60px;
    }

    @media @show-menu {
      width: 23vw;
      margin-left: calc(@site-padding + 23vw + 2%);
      svg { height: 10vw; }
    }
  }

  .c-header__place {
    margin-left: calc(4% + 23vw + 2%);
    font-size: 12px;
    margin-top: -1em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}

.c-meetups {
  justify-content: space-between;
  display: flex;

  .c-meetups__meetup {
    fill: @green;
    padding: 1%;
    width: 33%;

    &:hover {
      fill: white;
    }
  }
}

.c-flickr {
  .c-flickr__images {
    overflow-x: scroll;
    @media (min-width: 1250px) { overflow-x: visible; }
  }
}

.c-imagelist {
  width: 400%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.11%, 1fr));

  @media (min-width: 500px) { width: 280%; }
  @media (min-width: 870px) { width: 160%; }
  @media (min-width: 1250px) { width: 100%; }

  .c-imagelist__image {
    position: relative;
    display: inline-block;

    &:nth-child(3n-2) { grid-row: ~"1/3"; }
    &:nth-child(3n) { grid-row: ~"2"; }

    &:nth-child(1) { grid-column: ~"1/3"; }
    &:nth-child(3) { grid-column: ~"3"; }
    &:nth-child(4) { grid-column: ~"4/6"; }
    &:nth-child(6) { grid-column: ~"6"; }
    &:nth-child(7) { grid-column: ~"7/9"; }
    &:nth-child(9) { grid-column: ~"9"; }

    &::after {
      .fill-parent;
      content: '';
      background: @green;
      mix-blend-mode: hue;
      transition: opacity .5s ease;
    }

    &:hover::after { opacity: 0; }
  }
}

.c-toggle-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  background: #fff;
  border: 0;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  outline: 0;

  &::before,&::after {
    content: '';
    position: absolute;
    top: 50%;
    border-top: 2px solid #000;
    left: 50%;
    width: 26px;
    margin-left: -13px;
    height: 9px;
    border-bottom: 2px solid #000;
    transition: transform .2s @ease, border .2s @ease;
    transform-origin: center top;
  }

  &::before {
    margin-top: -7px;
    transform-origin: center bottom;
  }

  @media @show-menu {
    display: none;
  }

  &.show--menu {
    &::before {
      transform: rotate(-45deg);
      border-top-color: transparent;
    }

    &::after {
      transform: rotate(45deg);
      border-bottom-color: transparent;
    }
  }
}

.c-navigation {
  .fill-parent();
  background: @green;
  position: fixed;
  z-index: 10;
  transform: translateY(100%);
  transition: transform .2s @ease-in;

  &.show--menu {
    transform: none;
    transition-timing-function: @ease-out;
  }

  & ul {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.1em;
    letter-spacing: 1px;
  }

  & svg { display: none; }

  @media @show-menu {
    transform: none;
    bottom: auto;
    height: @menu-height;
    transition: padding .3s .2s @ease;
    font-size: 12px;

    & ul {
      position: static;
      line-height: @menu-height;
    }

    & li {
      display: inline-block;
      margin: 0 1%;

      &.active a {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 100%;
          top: .2em;
          width: .4em;
          height: 1em;
          background: @black;
          animation: blink 1s infinite;
          margin-left: .3em;
        }
      }
    }

    & a { text-decoration: none; }

    &.toggle--logo-in-menu {
      padding-left: calc(@site-padding + 80px);
      transition-delay: 0s;
    }
  }

  @media (min-width: 911px) {
    & svg {
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      width: 28px;
      height: 21px;
      fill: #000;
    }
  }
}

.c-speaker{
  margin-top: 3em;
  margin-bottom: 5em;
  clear: both;
}
.c-speaker:after{
  content: "";
  clear: both;
  display: block;
}

.c-speaker__info {
  max-width: 200px;
  float: left;
  padding-right: 2em;
  padding-bottom: 1em;
  margin-left: -2em;
  @media (max-width: 600px){
    max-width: 140px;
    margin-left: 0;
  }
}

.c-speaker__name {
  display: block;
  margin-top: 0.5rem;
  font-size: 12px;
}

.c-sponsors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & li {
    height: 150px;
  }

  & a {
    transition: color 200ms;
    margin: 1rem 5px;
  }

  & svg {
    width: 150px;
    display: block;
  }

  & img { width: 100px; }

  @media (min-width: 520px) {
    & svg {
      width: 225px;
    }

    & img { width: 220px; }
  }
}


.accent-border{
  border-bottom: 1px solid var(--color-accent);
  padding-bottom: .67em;
}

.c-program{
  padding: 0 1em;
}

.c-slot{
  /* autoprefixer: off */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr;
  grid-template-areas: "time rooms";
  margin-bottom: 2rem;
}

.c-slot__time{
  align-self: start;
  font-size: 0.8rem;
  text-align: right;
  font-weight: bold;
}

.c-slot__room{
  align-self: end;
}

.c-slot__sessions{
  display: grid;
  grid-gap: 1rem;
  @media (min-width: 600px) {
    /* autoprefixer: off */
    grid-area: rooms;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
    grid-template-areas: "room1 room2 room3 room4 room5";
  }
}

.c-session {
  @media (min-width: 600px) {
    grid-area: var(--room);
  }
}



.c-session{
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid var(--gray);
  padding: 0.5em 0.5em 1em;

}

.c-session:active{
  background-color: var(--gray-darkest);
}

.c-session__info {
  font-size: inherit;
  margin: 0;
}

.c-session__speakers{
  margin-top: 0.5em;
  font-weight: bold;
  @media (max-width: 600px) {
    font-size: 0.8rem;
  }
}


.c-session__speakers:before{
  content: ">";
  color: white;
  font-family: monospace;
  display: inline-block;
  font-weight: bold;
}

.c-session__expanded{
  display: none;
}

.c-modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(45, 45, 45, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    h2, nav {
        font-family: Source Sans Pro,sans-serif;
    }
}

.c-modal__inner {
    position: relative;
    background-color: var(--gray-darkest);
    max-width: 40rem;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 2em;
    .c-session-modal__close {
        position: absolute;
        right: 31px;
        color: #fff;
        border: 1px solid #fff;
        top: 20px;
    }
    figure{
        font-size: 0;
        margin:20px 0;
        img{
            display: inline-block;
            width: 40%;
            vertical-align: top;
            border: 1px solid @green;
        }
        figcaption{
            font-size: 16px;
            display: inline-block;
            width: 100%;
            padding-top: 20px;
            vertical-align: top;
            p{
                margin-top: 0;
            }
            @media (min-width: 600px) {
                width: 60%;
                padding-left: 20px;
                padding-top: 0px;
            }
        }
    }
}
.c-modal__header{
    h1{
        line-height: 1.1em;
    }
}
.c-field{
    display: table;
    width: 50%;
    @media (max-width: 600px) {
      width: 100%;
    }
    .c-row{
        display: table-row;
        margin-bottom: 3px;
        span{
            display: table-cell;

        }
        .c-fields__name, .c-fields__time,.c-fields__room{
            color:#fff;
        }
    }
}
