@import "../settings/index";

.c-header {
  .c-header__logo {
    position: absolute;
    fill: @green;
    width: 120px;
    right: 52%;
    top: calc(10vw + 1.2em);
    transition: opacity .3s @ease;

    & svg {
      width: 100%;
      height: 60px;
    }

    @media @show-menu {
      top: -10vw;
      margin-top: calc( 19.4em);
      right: auto;
      width: 23vw;
      left: @site-padding;
      transition: top .3s @ease;

      svg { height: 10vw; }
    }
  }

  .c-header__title {
    width: 120px;
    margin-left: 52%;
    fill: @green;

    svg {
      width: 100%;
      height: 60px;
    }

    @media @show-menu {
      width: 23vw;
      margin-left: calc(@site-padding + 23vw + 2%);
      svg { height: 10vw; }
    }
  }

  .c-header__place {
    margin-left: calc(4% + 23vw + 2%);
    font-size: 12px;
    margin-top: -1em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}
